In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from configv1 import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-01-21 01:37:01,-0.7393,-90.3518,75.99,94,31,1.99
1,1,Hofn,IS,2021-01-21 01:37:01,64.2539,-15.2082,32.76,88,73,27.85
2,2,Bethel,US,2021-01-21 01:34:25,41.3712,-73.4140,26.60,36,1,8.05
3,3,San Carlos De Bariloche,AR,2021-01-21 01:32:45,-41.1456,-71.3082,73.40,33,0,12.66
4,4,Hobart,AU,2021-01-21 01:32:56,-42.8794,147.3294,75.99,59,75,10.36

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-01-21 01:37:01,-0.7393,-90.3518,75.99,94,31,1.99
4,4,Hobart,AU,2021-01-21 01:32:56,-42.8794,147.3294,75.99,59,75,10.36
6,6,Bambanglipuro,ID,2021-01-21 01:37:02,-7.9500,110.2833,81.79,77,100,3.56
9,9,Bengkulu,ID,2021-01-21 01:34:35,-3.8004,102.2655,81.93,70,100,4.38
12,12,Fayaoue,NC,2021-01-21 01:37:02,-20.6500,166.5333,78.85,76,59,20.38
13,13,Georgetown,MY,2021-01-21 01:36:38,5.4112,100.3354,78.80,83,20,2.30
15,15,Busselton,AU,2021-01-21 01:37:03,-33.6500,115.3333,79.00,52,0,7.20
26,26,Alugan,PH,2021-01-21 01:37:04,12.2188,125.4808,83.77,74,53,8.05
34,34,Rikitea,PF,2021-01-21 01:37:05,-23.1203,-134.9692,78.69,76,0,16.13
36,36,Avarua,CK,2021-01-21 01:37:06,-21.2078,-159.7750,84.20,74,40,8.05

In [28]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [29]:
preferred_cities_df = preferred_cities_df.dropna()

In [30]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0    Puerto Ayora      EC     75.99  -0.7393  -90.3518
4          Hobart      AU     75.99 -42.8794  147.3294
6   Bambanglipuro      ID     81.79  -7.9500  110.2833
9        Bengkulu      ID     81.93  -3.8004  102.2655
12        Fayaoue      NC     78.85 -20.6500  166.5333
13     Georgetown      MY     78.80   5.4112  100.3354
15      Busselton      AU     79.00 -33.6500  115.3333
26         Alugan      PH     83.77  12.2188  125.4808
34        Rikitea      PF     78.69 -23.1203 -134.9692
36         Avarua      CK     84.20 -21.2078 -159.7750

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Castillo Galapagos
4,Hobart,AU,75.99,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
6,Bambanglipuro,ID,81.79,-7.9500,110.2833,Puri Brata
9,Bengkulu,ID,81.93,-3.8004,102.2655,Grage Hotel Bengkulu
12,Fayaoue,NC,78.85,-20.6500,166.5333,Chez Dydyce Guesthouse

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))